@import "../variables.scss";

$huge: 2 * 80px;
$large: 1.6 * 80px;
$medium: 1.2 * 80px;
$low: 0.8 * 80px;

.mountain {
  &--huge {
    position: absolute;
    bottom: 10px;
    left: 100px;
    z-index: 0;

    height: 0;
    width: $huge;
    border-left: $huge/2 solid transparent;
    border-right: $huge/2 solid transparent;
    border-bottom: $huge solid $soft-orange;

    &::before {
      content: "";
      position: relative;
      top: -22px;
      border-right: $huge/2 solid transparent;
      border-bottom: $huge solid rgb(119, 92, 58);
    }
  }

  &--large {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    height: 0;
    width: $large;
    border-left: $large/2 solid transparent;
    border-right: $large/2 solid transparent;
    border-bottom: $large solid $soft-orange;

    &::before {
      content: "";
      position: relative;
      top: -22px;
      border-right: $large/2 solid transparent;
      border-bottom: $large solid rgb(119, 92, 58);
    }
  }

  &--medium {
    position: absolute;
    bottom: 8px;
    left: 250px;
    z-index: 1;

    height: 0;
    width: $medium;
    border-left: $medium/2 solid transparent;
    border-right: $medium/2 solid transparent;
    border-bottom: $medium solid $soft-orange;

    &::before {
      content: "";
      position: relative;
      top: -22px;
      border-right: $medium/2 solid transparent;
      border-bottom: $medium solid rgb(119, 92, 58);
    }
  }

  &--low {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    height: 0;
    width: $low;
    border-left: $low/2 solid transparent;
    border-right: $low/2 solid transparent;
    border-bottom: $low solid $soft-orange;

    &::before {
      content: "";
      position: relative;
      top: -22px;
      border-right: $low/2 solid transparent;
      border-bottom: $low solid rgb(119, 92, 58);
    }
  }
}
