@import "../variables.scss";

.tree {
  width: 40px;
  height: 0;
  border-bottom: 40px solid $sea-green;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
}

.tree::before {
  content: "";
  position: relative;
  height: 0;
  top: -40px;
  left: -15px;
  border-bottom: 30px solid $sea-green;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.tree::after {
  content: "";
  width: 10px;
  height: 0;
  border-bottom: 15px solid $maroon;
  position: absolute;
  top: 45px;
  left: -5px;
}

.tree_1 {
  bottom: -2px;
  left: 5px;
  z-index: 1;
}

.tree_2 {
  bottom: -2px;
  left: 110px;
  z-index: 1;
}

.tree_3 {
  bottom: 17px;
  left: 220px;
  z-index: 1;
}

.tree_4 {
  bottom: 8px;
  right: 195px;
  z-index: 1;
}

.tree_5 {
  bottom: -2px;
  right: 20px;
  z-index: 1;
}
