@import "../variables.scss";

.tree {
  width: 30px;
  height: 0;
  border-bottom: 30px solid $sea-green;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
}

.tree::before {
  content: "";
  position: relative;
  height: 0;
  top: -33px;
  left: -10px;
  border-bottom: 20px solid $sea-green;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.tree::after {
  content: "";
  width: 8px;
  height: 0;
  border-bottom: 8px solid $maroon;
  position: absolute;
  top: 33px;
  left: -5px;
}

.tree_1 {
  bottom: 11px;
  left: 5px;
  z-index: 1;
}

.tree_2 {
  bottom: 11px;
  left: 100px;
  z-index: 1;
}

.tree_3 {
  bottom: 21px;
  left: 175px;
  z-index: 1;
}

.tree_4 {
  bottom: 19px;
  right: 120px;
  z-index: 1;
}

.tree_5 {
  bottom: 10px;
  right: 5px;
  z-index: 1;
}
