@import "variables.scss";

.about {
  display: flex;
  justify-content: center;
  align-self: center;
  background: #f9f4f5; //snow
  min-height: 100vh;
}

.about .container {
  position: relative;
  display: grid;
  grid-auto-flow: dense;
  padding: 1em;
}

.about header {
  font-variant-caps: all-petite-caps;
  line-height: 1.2em;
  font-size: x-large;
  letter-spacing: 2px;
}

.about article {
  display: grid;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  font-size: medium;
  line-height: 1.4em;
}

.about article p {
  letter-spacing: 0.3px;
  margin: 1em;
}

.about article ul {
  list-style-type: none;
}

.about article ul li {
  margin: 1em 0;
}

.about .container section {
  position: relative;
  display: grid;
  transition: 500ms;
}

@media (min-width: 1025px) {
  .about .container {
    max-width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-template-rows: minmax(150px, auto);
    grid-gap: 10px;
  }
  .about .container section:nth-child(4) {
    grid-row: span 2;
  }

  .about .container section:nth-child(2),
  .about .container section:nth-child(3) {
    grid-column: span 2;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .about .container {
    max-width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-template-rows: minmax(150px, auto);
    grid-gap: 10px;
  }

  .about .container section:nth-child(2),
  .about .container section:nth-child(4) {
    grid-row: span 2;
  }
}

@media (max-width: 600px) {
  .about .container {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-template-rows: minmax(150px, auto);
    grid-gap: 10px;
    margin: 2em 0;
  }
}

.about .container section:first-child {
  border: 2px solid $saturated-blue;
  :hover {
    background: $saturated-blue;
    color: $white;
  }
}
.about .container section:nth-child(2) {
  border: 2px solid $lime-green;
  :hover {
    background: $lime-green;
    color: $white;
  }
}
.about .container section:nth-child(3) {
  border: 2px solid $soft-orange;
  :hover {
    background: $soft-orange;
    color: $white;
  }
}
.about .container section:nth-child(4) {
  border: 2px solid $maroon;
  :hover {
    background: $maroon;
    color: $white;
  }
}
.about .container section:nth-child(5) {
  border: 2px solid $grayish-maroon;
  :hover {
    background: $grayish-maroon;
    color: $white;
  }
}
.about .container section:last-child {
  border: 2px solid $grayish-blue;
  :hover {
    background: $grayish-blue;
    color: $white;
  }
}
