@import "variables.scss";

.arbeid {
  color: $mk-purple-darker;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variant-caps: all-small-caps;
  letter-spacing: 1.5px;
}

.arbeid article header {
  background-color: $mk-green-darker;
  padding: 0 1em;
  margin-bottom: 10px;
  border-radius: 40px;
  letter-spacing: -1px;
  font-size: x-large;
  font-weight: bolder;
  color: $mk-white;
  font-variant-caps: all-small-caps;
}

.arbeid article {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  text-align: right;
}