.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.banner h3 {
  max-width: 75vw;
  margin: 0 auto;
  color: $mk-purple-darker;
  font-size: large;
  font-weight: normal;
  font-variant-caps: all-petite-caps;
  letter-spacing: 1.7px;
  line-height: 1em;
}

.banner h2 {
  font-size: xx-large;
  font-variant-caps: all-petite-caps;
  line-height: 1.5em;
  letter-spacing: -1px;
  color: $mk-green-darker;
}

.banner img {
  border-radius: 50%;
  border: 0.5em solid $mk-green-darker;
  margin: 2em auto 1em;
  overflow: hidden;
}