.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.banner p {
  max-width: 75vw;
  margin: 0 auto;
  color: $mk-purple-darker;
  font-size: large;
  font-weight: 400;
  font-variant-caps: all-small-caps;
  letter-spacing: 2px;
  line-height: 1em;
}

.banner header {
  font-size: xx-large;
  font-weight: bolder;
  font-variant-caps: all-small-caps;
  line-height: 1.5em;
  letter-spacing: -1px;
  color: $mk-green-darker;
}

@media (max-width: 800px) {
  .banner p {
    font-size: medium;
  }
}