img.profile-pic {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid #ffffff;
}

img.travel {
  margin: 1em;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
