@import "variables.scss";

ul {
  margin: 1.5em;
  list-style-type: square;
}

ul.colored-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em 0;

  li {
    margin: 0.2em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    background: $white-rock;
  }
}
