@import "variables.scss";

.logo {
  position: absolute;
  top: 0;
  left: 5vw;
  z-index: 999;

  font-size: x-large;
  font-weight: 500;
  font-variant-caps: all-small-caps;
  letter-spacing: -2px;
  line-height: 1em;
  padding: 0.8em 0.5em 0.7em 0.4em;
  border-radius: 0 0 0.7em 0.7em;
  box-shadow: 0 2px 5px rgba($mk-white, 0.3);

  color: $mk-purple-darker;
  background: $mk-white;
}
