@import "variables.scss";

.teknologi {
  color: $mk-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variant-caps: all-small-caps;
  letter-spacing: 1.5px;
}

.teknologi article header {
  background-color: $mk-green-darker;
  padding: 0 1em;
  margin-bottom: 10px;
  border-radius: 40px;
  letter-spacing: -1px;
  font-size: x-large;
  font-weight: bolder;
  color: $mk-white;
  font-variant-caps: small-caps;
}

.teknologi article {
  width: 100%;
  max-width: 450px;
  padding: 1em;
}

@media (min-width: 1000px) {
  .teknologi {
    justify-content: center;
  }
  .teknologi article {
    margin: 2em auto;
    max-width: 600px;
    line-height: 1.8em;
  }
}

@media (max-width: 999px) {
  .teknologi {
    justify-content: space-evenly;
  }
  .teknologi article {
    line-height: 1.8em;
  }
}

@media (max-width: 800px) {
  .teknologi {
    justify-content: space-evenly;
  }
  .teknologi article {
    line-height: 1.6em;
  }
  .teknologi p {
    font-size: small;
  }
}

@media (min-height: 640px) {
  .teknologi {
    justify-content: center;
  }
  .teknologi p {
    padding: 0.5em 0;
    font-size: medium;
  }
}
