$black-pearl: #222222;
$white: #ffffff;

$maroon: #874741;
$grayish-maroon: #ae8a8c;
$grayish-blue: #7c98ab;
$soft-orange: #dbbc8e;
$lime-green: #a9c8c0;
$saturated-blue: #698396;
$sea-green: #3c8f3c;
