$black-pearl: #333333;
// $white: #ffffff;

$maroon: #874741;
$grayish-maroon: #ae8a8c;
$grayish-blue: #7c98ab;
$soft-orange: #dbbc8e;
$lime-green: #a9c8c0;
$saturated-blue: #698396;
$sea-green: #3c8f3c;
$white: #f7f7f8;


$mk-white: #f7f7f8;
$mk-blue: #468fbb;
$mk-green-bluer: #46bbad;
$mk-green: #36ab82;
$mk-green-darker: #36ab82;
$mk-purple-darker: #1d1e31;
