@import "./../../css/variables.scss";

.page {
  padding: 1em;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  transition-duration: 800ms;
}

.page:first-child,
.page:nth-child(3) {
  background-color: $mk-white;
  button.next-button {
    color: $mk-white;
    background-color: $mk-purple-darker;
  }
}
.page:nth-child(2),
.page:last-child {
  background-color: $mk-purple-darker;
  button.next-button,
  button.slide-top-button {
    color: $mk-purple-darker;
    background-color: $mk-white;
  }
}

button.next-button,
button.slide-top-button {
  border: none;
  outline: none;
  min-height: 10vh;
  width: calc(0.5em + 1vw);
  min-width: 30px;
  position: absolute;
  right: 5vw;
  z-index: 1;
  font-size: calc(1.5em + 1vw);
  transition: ease-out 0.3s;
  cursor: pointer;
}

button.slide-top-button {
  top: 0;
  border-radius: 0 0 50px 50px;
  &:hover {
    box-shadow: inset 0 200px 0 0 $mk-green-darker;
    color: $mk-white;
  }
}
button.next-button {
  bottom: 0;
  border-radius: 50px 50px 0 0;
  &:hover {
    box-shadow: inset 0 -200px 0 0 $mk-green-darker;
    color: $mk-white;
  }
}

.page:last-child {
  button.next-button {
    display: none;
  }
  button.slide-top-button {
    display: block;
  }
}

.page:not(:last-child) {
  button.next-button {
    display: block;
  }
  button.slide-top-button {
    display: none;
  }
}

@media (min-width: 1000px) {
  .page {
    justify-content: center;
  }
  .page article {
    margin: 2em auto;
    max-width: 600px;
    line-height: 1.8em;
  }
}

@media (max-width: 999px) {
  .page {
    justify-content: space-evenly;
  }
  .page article {
    line-height: 1.7em;
  }
}

@media (max-width: 800px) {
  .page p,
  .page li {
    font-size: medium;
  }
}

@media (min-height: 600px) {
  .page {
    justify-content: center;
  }
  .page p {
    padding: 0.5em 0;
    font-size: large;
  }
  .page li {
    padding-bottom: 0.25em;
    font-size: large;
  }
}

@media (max-height: 600px) {
  .page {
    justify-content: center;
  }
  .page p,
  .page li {
    font-size: medium;
  }
  .page article p,
  .page article li {
    line-height: 1.3em;
  }
}
